@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
}

.description{
 background-color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  background-color: rgba(34, 34, 34, 0);
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: black;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000;
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #c0392b;
  font-weight: bold;
}

.hero {
  background-image: url('images/art-lasovsky-8XddFc6NkBY-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100vh;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
  flex-flow: row nowrap;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.form-control{
  width: 80%;
}
.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 20px 0;
}

.title{
    color: #555;
}
.main_title {
    position: absolute;
    width: 480px;
    height: 135px;
    left: 180px;
    top: 290px;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 67px;
  }
  
.text {
    position: absolute;
    width: 394px;
    height: 96px;
    left: 221px;
    top: 403px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
  }
  .link_text {
    position: absolute;
    width: 394px;
    height: 96px;
    left: 221px;
    top: 500px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
  }
.content p {
  color: rgb(184, 179, 179);
  line-height: 30px;
  letter-spacing: 1.2px;
}

.card-body{
text-align: center;
}

.poem_content{
  margin-top: 40px;
}
/* profile page */
.profile {
    background-color: rgb(255, 255, 255);
    border-radius: 10px
}

.containercard{
  position: relative;
  justify-content: center;
}
.card {
    width: 350px;
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden; 
    margin: 20px;
}
.description{
  background-image: url('images/dan-cristian-padure-XOXMERp2LZE-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100vh;
}
.image {
    object-fit: cover;
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important
}

.articles {
    font-size: 10px;
    color: #a1aab9
}

.number1 {
    font-weight: 500
}

.followers {
    font-size: 10px;
    color: #a1aab9
}

.number2 {
    font-weight: 500
}

.rating {
    font-size: 10px;
    color: #a1aab9
}

.number3 {
    font-weight: 500
}

/* lobby css */
.server_container{
    border-radius: 5px;
    box-shadow: 3px 3px 10px white;
    overflow: hidden;
    width: 900px;
    position: relative;
    display: flex;
    justify-content: center;
    top: 100px;
    height: 550px;
    left: 325px;

}
.server_header{
    padding-top: 20px;
    color: white;
    margin-left: 40%;
}

  .lobby_container {
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    top: 140px;
    position: absolute;
    right: 20px;
    
  }
  
  .lobby_title {
    margin: 0;
  }
  
  .subtitle {
    display: inline-block;
    margin: 5px 0 20px;
    opacity: 0.8;
  }
  
  .header {
    background-color: rgb(65, 64, 64);
    color: #fff;
    padding: 10px 20px;
    opacity: 0.5;
  }
  
  .header input {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
    width: 100%;
  }
  
  .header input:focus {
    outline: none;
  }
  
  .open_servers {
    background-color: rgb(65, 64, 64);
    list-style-type: none;
    margin: 20px;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
    opacity: 0.5;
  }
  
  .open_servers li {
    display: flex;
    padding: 20px;
    color: white;
  }

  
  .open_servers .user-info {
    margin-left: 10px;
  }
  
  .open_servers .user-info h4 {
    margin: 0 0 10px;
    justify-content: space-between;
  }
  
  .open_servers .user-info p {
    font-size: 12px;
  }
  
  .open_servers li:not(:last-of-type) {
    border-bottom: 1px solid black;
  }
  
  .open_servers li.hide {
    display: none;
  }
  
  .user-list {
    background-color: rgb(4, 77, 22);
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
  }
  
  .user-list li {
    display: flex;
    padding: 20px;
  }
  
  .user-list img {
    border-radius: 50%;
    object-fit: cover;
    height: 50px;
    width: 50px;
  }
  
  .user-list .user-info {
    margin-left: 10px;
  }
  
  .user-list .user-info h4 {
    margin: 0 0 10px;
  }
  
  .user-list .user-info p {
    font-size: 12px;
  }
  
  .user-list li:not(:last-of-type) {
    border-bottom: 1px solid black;
  }
  
  .user-list li.hide {
    display: none;
  }

#regForm {
    background-color: #ffffff;
    margin: 0px auto;
    font-family: Raleway;
    padding: 40px;
    border-radius: 10px
}

#register {
    color: #6A1B9A
}

h1 {
    text-align: center
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    -webkit-appearance: none
}

.account{
  background-image: url('images/dan-cristian-padure-XOXMERp2LZE-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100vh;
}

.tab input:focus {
    border: 1px solid #6a1b9a !important;
    outline: none
}

input.invalid {
    border: 1px solid #e03a0666
}

.tab {
    display: none
}

button {
    background-color: #6A1B9A;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    opacity: 0.8
}

button:focus {
    outline: none !important
}

#prevBtn {
    background-color: #bbbbbb
}

.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: center
}

.step {
    height: 40px;
    width: 40px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #6a1b9a;
    opacity: 0.5
}

.step.active {
    opacity: 1
}

.step.finish {
    color: #fff;
    background: #6a1b9a;
    opacity: 1
}

.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px
}

.thanks-message {
    display: none
}
  